body{
	background-image: url('../images/KHCheckeredBackground.jpg');
	font-family: Arial, Helvetica, sans-serif;
}
.rewardTable{
	margin: 100px;
	padding:20px;
	background-color: gainsboro;
}
table{
	border:none;
	width: 100%;
	text-align: center;
}
th, td {
	border-bottom: 1px solid black;
  }
#replaceCheckbox{
	border:none;
}
a{
	background: gainsboro;
}
/* .equipmentTable{
	margin: 100px;
	padding:20px;
	background-color: gainsboro;
	display: flexbox;
} */